/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ACbase.svg);
}

.ds4.white .trigger {
    background-image: url(ACtriggers.svg);
}

.ds4.white .bumper {
    background-image: url(ACbumper.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ACstart.svg);
}

.ds4.white .button {
    background-image: url(ACface.svg);
}

.ds4.white .stick {
    background-image: url(ACsticks.svg);
}

.ds4.white .face {
    background-image: url(ACdpad.svg);
}

/*END PS4 White Controller Styling*/