/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ACbase1.png);
}

.ds4.white .trigger {
    background-image: url(ACtriggers1.png);
}

.ds4.white .bumper {
    background-image: url(ACbumper1.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ACstart1.png);
}

.ds4.white .button {
    background-image: url(ACface1.png);
}

.ds4.white .stick {
    background-image: url(ACsticks1.png);
}

.ds4.white .face {
    background-image: url(ACdpad1.png);
}

/*END PS4 White Controller Styling*/