/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ACbase.png);
}

.ds4.white .trigger {
    background-image: url(ACtriggers.png);
}

.ds4.white .bumper {
    background-image: url(ACbumper.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ACstart.png);
}

.ds4.white .button {
    background-image: url(ACface.png);
}

.ds4.white .stick {
    background-image: url(ACsticks.png);
}

.ds4.white .face {
    background-image: url(ACdpad.png);
}

/*END PS4 White Controller Styling*/